.head{
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 300px;
    border: solid black;
}

.innercircle{
    position: absolute;
    /* top: 59px;
    left: 33.5px; */
    height: 220px;
    width: 220px;
    margin-top: 80px;
    margin-left: 38px;
    background-color: whitesmoke;
    border-radius: 200px; 
}

.body{
    position: absolute;
    margin-left: 607px;
    top: 55px;
}

.eyeone{
    position: absolute;
    height: 110px;
    width: 100px;
    margin-top: 30px;
    border: solid black;
    background-color: white;
    border-radius: 100px;
}

.eyetwo{   
    position: absolute;
    height: 110px;
    width: 100px;
    border: solid black;
    margin-top: 30px;
    margin-left: 105px;
    background-color: white;
    border-radius: 100px;
}

.eyes{
    margin-left: 46px;
    margin-top: 0px;
}

.face{
    margin-left: 40%;
    margin-top: 30px;
}

.smile{
    position: absolute;
    height: 40px;
    width: 140px;
    margin-top: 190px;
    margin-left: 76px;
    border: solid black;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: darkred;
}


.stomach{
    position: absolute;
    height: 230px;
    width: 230px;
    background-color: blue;
    border-radius: 30px;
    margin-top: 240px;
    margin-left: 33px;
   /* border:solid black;*/
}

.innercircle2{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-top: 250px;
    margin-left: 48px;
    background-color: whitesmoke;
    border-radius: 200px; 
}

.necklace{
    position: absolute;
    height: 15px;
    width: 233px;
    background-color: red;
    border-radius: 10px;
    margin-top: 226px;
    margin-left: 31.6px;
    border: solid black;
}

.pocket{
    position: absolute;
    height: 75px;
    width: 150px;
    margin-top: 350px;
    margin-left: 70px;
    border: solid black;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: whitesmoke;
}


.arms{
    margin-left: 568px;   
}

.arm1{
   position: absolute;
    height:150px;
    width: 65px;
    background-color: blue;
    margin-left: 280px;
    margin-top: 262px;
    transform: rotate(145deg);
}

.arm2{
    position: absolute;
    height:150px;
    width: 65px;
    background-color: blue;
    margin-left: 30px;
    margin-top: 262px;
    transform: rotate(38deg);
}

.leg1{
    position: absolute;
    height: 70px;
    width: 90px;
    background-color: blue;
    margin-left: 640px;
    margin-top: 470px;
}

.leg2{
    position: absolute;
    height: 70px;
    width: 90px;
    background-color: blue;
    margin-left: 780px;
    margin-top: 470px;
}

.eyeball1{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: black;
    margin-left: 675px;
    margin-top: 60px;
}

.eyeball2{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-color: black;
    margin-left: 780px;
    margin-top: 60px;
}

.feet1{
    position: absolute;
    height: 30px;
    width: 86px;
    border: solid black;
    margin-top: 540px;
    margin-left: 640px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.feet2{
    position: absolute;
    height: 30px;
    width: 86px;
    border: solid black;
    margin-top: 540px;
    margin-left: 780px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
}

.hand1{
    position: absolute;
    height: 30px;
    width: 61px;
    border: solid black;
    transform: rotate(38deg);
    margin-top: 390px;
    margin-left: 542px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hand2{
    position: absolute;
    height: 28px;
    width: 60px;
    border: solid black;
    transform: rotate(145deg);
    margin-top: 392px;
    margin-left: 899px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.nose{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: solid black;
    background-color: red;
    margin-left: 741.5px;
    margin-top: 115px;
}

.noseline{
    position: absolute;
    height: 37px;
    width: 0;
    border: solid black;
    margin-left: 757px;
    margin-top: 150px;
}

.moustach1{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 160px;
    margin-left:630px;
}

.moustach2{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 140px;
    margin-left:632px;
    transform: rotate(15deg);
}

.moustach3{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 180px;
    margin-left:633px;
    transform: rotate(164deg);
}

.moustach4{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 160px;
    margin-left:815px;
}

.moustach5{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 142px;
    margin-left:813px;
    transform: rotate(168deg);
}

.moustach6{
    position: absolute;
    height: 0;
    width: 70px;
    border: solid black;
    margin-top: 178px;
    margin-left:813px;
    transform: rotate(12deg);
}

.innereyeball1{
    position: absolute;
    height: 20px;
    width: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: solid black;
    margin-left: 710px;
    margin-top: 80px;
}

.innereyeball2{
    position: absolute;
    height: 20px;
    width: 14px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: solid black;
    margin-left: 785px;
    margin-top: 80px;
}

.tongue{
    position: absolute;
    height: 15px;
    width: 95px;
    background-color: tomato;
    margin-left: 707px;
    margin-top: 217px;
    border: solid black;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.bell{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: solid black;
    background-color: yellow;
    margin-left: 743px;
    margin-top: 260px;
}